.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-height: var(--full-height);
  padding: 33px;
  background: var(--bg-2);
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--text-3);
}

.text {
  max-width: 320px;
  color: var(--text-2);
}

[data-theme='dark'] .text {
  color: var(--text-3);
}
